/* momnomr.less */
/* mq.less */
/* easy-break.less */
/* responsive-embed.less */
.responsive-embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.responsive-embed-wrapper iframe,
.responsive-embed-wrapper object,
.responsive-embed-wrapper .responsive-embed-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.responsive-embed-16-9 {
  padding-bottom: 56.25%;
}
.responsive-embed-4-3 {
  padding-bottom: 75%;
}
/* m-grid.less */
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.row {
  display: block;
}
.column {
  display: block;
  float: left;
  min-height: 1px;
}
.s-1 {
  width: 8.33333333%;
}
.s-2 {
  width: 16.66666667%;
}
.s-3 {
  width: 25%;
}
.s-4 {
  width: 33.33333333%;
}
.s-5 {
  width: 41.66666667%;
}
.s-6 {
  width: 50%;
}
.s-7 {
  width: 58.33333333%;
}
.s-8 {
  width: 66.66666667%;
}
.s-9 {
  width: 75%;
}
.s-10 {
  width: 83.33333333%;
}
.s-11 {
  width: 91.66666667%;
}
.s-12 {
  width: 100%;
}
.offset-s-1 {
  margin-left: 8.33333333%;
}
.offset-s-2 {
  margin-left: 16.66666667%;
}
.offset-s-3 {
  margin-left: 25%;
}
.offset-s-4 {
  margin-left: 33.33333333%;
}
.offset-s-5 {
  margin-left: 41.66666667%;
}
.offset-s-6 {
  margin-left: 50%;
}
.offset-s-7 {
  margin-left: 58.33333333%;
}
.offset-s-8 {
  margin-left: 66.66666667%;
}
.offset-s-9 {
  margin-left: 75%;
}
.offset-s-10 {
  margin-left: 83.33333333%;
}
.offset-s-11 {
  margin-left: 91.66666667%;
}
@media (min-width: 46em) {
  .m-1 {
    width: 8.33333333%;
  }
  .m-2 {
    width: 16.66666667%;
  }
  .m-3 {
    width: 25%;
  }
  .m-4 {
    width: 33.33333333%;
  }
  .m-5 {
    width: 41.66666667%;
  }
  .m-6 {
    width: 50%;
  }
  .m-7 {
    width: 58.33333333%;
  }
  .m-8 {
    width: 66.66666667%;
  }
  .m-9 {
    width: 75%;
  }
  .m-10 {
    width: 83.33333333%;
  }
  .m-11 {
    width: 91.66666667%;
  }
  .m-12 {
    width: 100%;
  }
  .offset-m-1 {
    margin-left: 8.33333333%;
  }
  .offset-m-2 {
    margin-left: 16.66666667%;
  }
  .offset-m-3 {
    margin-left: 25%;
  }
  .offset-m-4 {
    margin-left: 33.33333333%;
  }
  .offset-m-5 {
    margin-left: 41.66666667%;
  }
  .offset-m-6 {
    margin-left: 50%;
  }
  .offset-m-7 {
    margin-left: 58.33333333%;
  }
  .offset-m-8 {
    margin-left: 66.66666667%;
  }
  .offset-m-9 {
    margin-left: 75%;
  }
  .offset-m-10 {
    margin-left: 83.33333333%;
  }
  .offset-m-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 68em) {
  .l-1 {
    width: 8.33333333%;
  }
  .l-2 {
    width: 16.66666667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.33333333%;
  }
  .l-5 {
    width: 41.66666667%;
  }
  .l-6 {
    width: 50%;
  }
  .l-7 {
    width: 58.33333333%;
  }
  .l-8 {
    width: 66.66666667%;
  }
  .l-9 {
    width: 75%;
  }
  .l-10 {
    width: 83.33333333%;
  }
  .l-11 {
    width: 91.66666667%;
  }
  .l-12 {
    width: 100%;
  }
  .offset-l-1 {
    margin-left: 8.33333333%;
  }
  .offset-l-2 {
    margin-left: 16.66666667%;
  }
  .offset-l-3 {
    margin-left: 25%;
  }
  .offset-l-4 {
    margin-left: 33.33333333%;
  }
  .offset-l-5 {
    margin-left: 41.66666667%;
  }
  .offset-l-6 {
    margin-left: 50%;
  }
  .offset-l-7 {
    margin-left: 58.33333333%;
  }
  .offset-l-8 {
    margin-left: 66.66666667%;
  }
  .offset-l-9 {
    margin-left: 75%;
  }
  .offset-l-10 {
    margin-left: 83.33333333%;
  }
  .offset-l-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 85em) {
  .xl-1 {
    width: 8.33333333%;
  }
  .xl-2 {
    width: 16.66666667%;
  }
  .xl-3 {
    width: 25%;
  }
  .xl-4 {
    width: 33.33333333%;
  }
  .xl-5 {
    width: 41.66666667%;
  }
  .xl-6 {
    width: 50%;
  }
  .xl-7 {
    width: 58.33333333%;
  }
  .xl-8 {
    width: 66.66666667%;
  }
  .xl-9 {
    width: 75%;
  }
  .xl-10 {
    width: 83.33333333%;
  }
  .xl-11 {
    width: 91.66666667%;
  }
  .xl-12 {
    width: 100%;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
}
.row.reverse .column {
  float: right;
}
@media (max-width: 46em) {
  .nr-s {
    clear: both;
  }
}
@media (min-width: 46em) and (max-width: 68em) {
  .nr-m {
    clear: both;
  }
}
@media (min-width: 68em) and (max-width: 85em) {
  .nr-l {
    clear: both;
  }
}
@media (min-width: 85em) {
  .nr-xl {
    clear: both;
  }
}
/* vaeiables.less */
body {
  background: #efefef;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', Helvetica Neue, Helvetica, Arial, sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 20px;
  font-weight: 400;
}
.side-bar {
  box-shadow: 0px 0px 5px #888888;
  background: #fdfdfd;
}
.side-bar:after {
  content: "";
  display: table;
  clear: both;
}
.side-bar header {
  border-bottom: #d3d3d3 solid 5px;
  padding-bottom: 10px;
}
.side-bar h1 {
  padding: 0;
  font-size: 48px;
  font-weight: 600;
}
.side-bar h2 {
  padding: 0;
  font-size: 18px;
}
.side-bar:before {
  content: "";
  display: table;
}
.about-info {
  color: #747474;
  font-size: 14px;
  padding: 0;
  margin: 20px;
}
.calls {
  padding: 5px;
}
.call .box {
  margin: 10px;
  background: #fdfdfd;
  box-shadow: 0px 0px 5px #888888;
}
.call .box:before,
.call .box:after {
  content: "";
  display: table;
}
.call header {
  background: #F5A623;
  margin: 10px 0;
  padding: 0;
  position: relative;
}
.call header h1 {
  background: #fdfdfd;
  margin: 0 20px;
  display: inline-block;
  padding: 0 10px;
}
.call header .is-dirty-marker {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 8px;
  width: 8px;
  margin: 5px;
  background: #fdfdfd;
}
.call form {
  padding: 0 10px;
}
.call input,
.call textarea,
.call select {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}
.call textarea {
  height: 140px;
}
button,
input,
select {
  margin: 10px;
  display: block;
  padding: 0 8px;
  font-size: 14px;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #d3d3d3;
  height: 28px;
  vertical-align: middle;
}
textarea {
  margin: 10px;
  display: block;
  padding: 8px;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #d3d3d3;
}
input,
textarea,
select {
  background: #efefef;
}
.side-bar-controlls {
  padding: 10px 5px;
}
.button-group button {
  float: left;
  margin-top: 0;
  margin-right: 0;
}
.button-group:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 68em) {
  .side-bar {
    width: 300px;
    height: calc(100%);
    position: fixed;
    top: 0;
    left: 0;
  }
  .calls {
    width: -200%;
    margin-left: 300px;
  }
}
